.digitar-texto .card-digitar-texto{
    height:220px !important;
    width:100% !important
}
.digitar-texto .flashcard{
    aspect-ratio: initial;
}

.digitar-text .card-front,
.digitar-text .card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}